@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
header {
    background-color: #F7600C;
    height: 80px;
}
div#links {
    position: absolute;
    right: 20px;
}
#links a {
    position: relative;
    top: 20px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
aside {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F7600C;
    width: 30vw;
    height: 100vh;
    color: white;
}
aside h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.list  {
   position: relative;
   top: 30px;
}
.list img {
    position: relative;
    top: 15px;
    left: 5px;
    width: 3vw;
}
.list .pname {
    position: relative;
    top: -25px;
    left: 50px;
    font-family: 'Koulen', cursive;
    font-size: 20px;
}
.list .fa-plus {
    position: relative;
    top: -50px;
    left: 300px;
}
.list .fa-minus {
    position: relative;
    top: -50px;
    left: 310px;
}
section {
    position: relative;
    top: 100px;
    left: 50px;
}
section img {
    width: 200px;
    padding-left: 40px;
}
section div {
    display: inline-block;
    margin-right: 10vw;
    margin-bottom: 20vh;
}
section h2 {
    position: relative;
    top: 280px;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 30px;
}
section .price {
   position: relative;
   top: 310px;
   left: 100px;
   font-family: 'Koulen', cursive;
}
section .text {
   position: relative;
   top: 80px;
   left: 25px;
   line-height: 25px;
   font-family: 'Josefin Sans', sans-serif;
}
section button {
    position: relative;
    top: 100px;
    left: 30px;
    background-color: #ED3B0C;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
section button:hover {
    background-color: #F7A00C;
    transition: 0.2s ease-in;
    cursor: pointer
}
section button:active {
    background-color: #EDB00C;
}