@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
header {
    background-color: #F7600C;
    height: 80px;
}
div#link {
    position: absolute;
    right: 20px;
}
div#link:hover {
    cursor: pointer;
}
.fa-pizza-slice {
    position: relative;
    top: 20px;
    color: white;
    font-size: 25px;
}
.fa-pizza-slice:hover {
    color: #EDAA00;
}
.countlist {
    position: relative;
    right: 20px;
    top: 40px;
    color: white;
    background-color: #9a1c00;
    font-size: 14px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px;
}
aside {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #EDAA00;
    width: 30vw;
    height: 100vh;
    color: white;
}
aside h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.list  {
   position: relative;
   top: 40px;
   left: 10px;
   display: inline-block;
   width: 350px;
   height: 50px;
   font-family: 'Koulen', cursive;
   font-size: 22px;
   border-bottom: 1px solid white;
}
.list p {
    margin-left: 10px;
    margin-top: 5px;
}
.list i {
    position: relative;
    top: -40px;
    left: 299px;
    font-size: 17px;
}
section {
    position: relative;
    top: 100px;
    left: 50px;
}
section img {
    width: 200px;
    padding-left: 40px;
}
section div {
    display: inline-block;
    margin-right: 13vw;
    margin-bottom: 20vh;
}
section h2 {
    position: relative;
    top: 10px;
    left: 15px;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 30px;
}
div.pizza-container .price {
   position: relative;
   top: -90px;
   left: 200px;
   font-family: 'Koulen', cursive;
   font-weight: bolder;
   font-size: 20px;
}
section .text {
   text-align: center;
   line-height: 25px;
   font-family: 'Josefin Sans', sans-serif;
   max-width: 232px;
}
section button {
    position: relative;
    top: 50px;
    left: 30px;
    background-color: #ED3B0C;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
section button:hover {
    background-color: #F7A00C;
    transition: 0.2s ease-in;
    cursor: pointer
}
section button:active {
    background-color: #EDB00C;
}