@charset "utf-8";

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    background-color: blue;
}
table tr:nth-child(odd) {
    background-color: lightcyan;
}