@charset 'UTF-8';
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
#form {
    text-align: center;
}
input {
    margin-bottom: 10px;
}
table {
    margin: auto;
    margin-top: 40px;
    border-collapse: collapse;
}
table th {
    background-color: black;
    color: white;
    padding: 5px;
}
table td {
    font-weight: bold;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
}
.hiddenmsg {
    display: none;
}
.msg {
    position: fixed;
    top: 500px;
    left: 900px; 
    background-image: linear-gradient(to top, #005791, #000C14);
    border: 2px solid #0096FA;
    height: 100px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}
.msg  h3, p {
    color: white;
    margin-top: 10px;
}
.msg p {
    font-weight: bolder;
}
.msg  span {
    color: white;
    position: relative;
    top: -50px;
    left: 130px;
    cursor: pointer;
}